   
   <%= render 'head' %>
   
 <br/>
 <br/>
 <br/>
 
 <center>
 <%= render 'media' %>
 </center> 
 
 <br/>
  
 <br/>
 <br/>
 <br/>

 <table id='audio_list'>
  <thead>
     
     <tr>
       <th>Nr </th>
       <th>Title</th>
       <th>Artist</th>
       <th>Created At</th>
       <th>Published by</th>
       <th></th>    
     </tr>
     
  </thead>
<tbody>

<% @publishers.each do |publisher| %>
<tr>
    <td><%= publisher.id  %></td>
    <td><%=  publisher.title  %></td>  
    <td><%= publisher.content %></td>
    <td><%= l publisher.created_at ,:format => :sample %></td>
    <td><%= link_to  publisher.user.username %>
     (<%=  publisher.user.publishers_count%>)
     </td>
    <td><%= link_to 'Play',  publisher ,:remote => true  %> </td>      
   
</tr> 
  <% end %>
  </tbody>
</table>

<br />
<%= render 'bottom' %>

  
  
  




